<!-- load varilbe -->
<script>
  class User {
      constructor({ id, name, xp = 0, xpToNextLevel = 0, level = 0, coins = 0 }) {
          this.id = id;
          this.name = name;
          this.xp = xp;
          this.xpToNextLevel = xpToNextLevel;
          this.level = level;
          this.coins = coins;
      }

      async updateUserSettings(newName) {
        this.name = newName;

        const status = document.getElementById("status_container");
        const userNameElement = status.querySelector("#name");
        userNameElement.textContent = currentUser.name;

        const res = await fetch("/api/update", {
         method: "POST",
         headers: { "Content-Type": "application/json" },
         body: JSON.stringify({
           type: "update_user_settings",
           user_id: this.id,
           user_name: this.name
         }),
        });
        console.log((await res.json()).message);
        }
  }

  // Instantiate the user
  const currentUser = new User({
      id: {{ (user.id | default(0)) | tojson }},
      name: {{ (user.name | default("none")) | tojson }},
      xp: {{ (user.xp | default(0)) | tojson }},
      xpToNextLevel: {{ (user.xp_to_next_level | default(0)) | tojson }},
      level: {{ (user.level | default(0)) | tojson }},
      coins: {{ (user.coins | default(0)) | tojson }}
  });

  // Tasks array
  const tasks = {{ (tasks | default([])) | tojson }};
  const concecenses = {{ (concecenses | default([])) | tojson }}
</script>

<script type="module">
  import { switch_window } from "{{ url_for('static', filename='script/modules/system_windows.js') }}";
  window.switch_window = switch_window;

  import { switch_to_main_window } from "{{ url_for('static', filename='script/modules/system_windows.js') }}";
  window.switch_to_main_window = switch_to_main_window;
</script>

<script
  type="module"
  src="{{ url_for('static', filename='script/index.js') }}"
></script>

<!-- load styling -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/index.css') }}"
/>
