body {
  background: linear-gradient(135deg, #0f0c29, #302b63, #242323);
  font-family: "Poppins", sans-serif;
  color: #aee7ff;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#activate_msg {
  font-size: 1.8rem;
  color: #00c8ff;
  opacity: 1;
  text-align: center;
  margin-bottom: 20px;
  transition: opacity 0.5s ease, transform 0.5s ease;
  position: absolute;
}

#activate_msg.deactive {
  opacity: 0;
}

.system-window {
  width: clamp(280px, 90vw, 800px);
  height: clamp(300px, 80vh, 700px);
  box-sizing: border-box;
  background: rgba(0, 122, 209, 0.11);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  backdrop-filter: blur(8px);
  border: 1.5px solid rgba(0, 255, 255, 0.4);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.3), 0 0 40px rgba(0, 122, 209, 0.2);
  display: none;
}

.system-window.active {
  display: block;
  animation: openSystem 0.8s cubic-bezier(0.25, 1.2, 0.5, 1) forwards;
  pointer-events: auto;
}

.system-window.deactive {
  display: block;
  animation: openSystem 0.5s cubic-bezier(0.25, 1.2, 0.5, 1) reverse forwards;
}

#add_task_btn {
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}


#settings_icon{
  top: 10px;
  left: 10px;
  position: absolute;
}

#settings_icon img{
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: block;
  transform-origin: center;
  will-change: transform;
  
  backface-visibility: hidden;      
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
}

#settings_icon:hover{
  transform: scale(1.1);    
}

#settings_icon:hover img{
  animation: spin 0.41s linear;
}

@keyframes spin{
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}