#welcome_message_container{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

#welcome_message{
    margin: 0;
    line-height: 1.4;
    max-width: 25vw;
    text-shadow: 0 0 6px rgba(0, 255, 255, 0.8);
    color: #00eaff;
}