#status_container {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgba(0, 255, 255, 0.3);
}

#status_container h1#name {
  margin: 0;
  font-size: 3rem;
  color: #00c8ff;
}

#level_coin_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#level_container,
#coin_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: clamp(8px, 1vh, 1px) clamp(16px, 2vw, 12px);
}

#level_container h1,
#coin_container h1 {
  margin: 0;
  font-size: 2rem;
}

#level_container h1 {
  color: #00c8ff;
}
#coin_container h1 {
  color: #00e0ff;
}

#level_container h2,
#coin_container h2 {
  margin: 0;
  font-size: 1rem;
  color: #aee7ff;
}

#level_container h2 {
  opacity: 0.9;
}
#coin_container h2 {
  opacity: 0.8;
}
