<script type="module">
  import { switch_to_main_window } from "{{ url_for('static', filename='script/system_windows.js') }}";
  import {
    tasksMap,
    concecensesMap,
  } from "{{ url_for('static', filename='script/tasks.js') }}";

  document.addEventListener("DOMContentLoaded", () => {
    const confirmButton = document.getElementById("confirm_{{ type }}_button");

    confirmButton.addEventListener("click", () => {
      const delWindow = document.getElementById("delete_{{ type }}_window");
      const itemIdDiv = delWindow.querySelector("#{{ type }}_id");
      const itemId = Number(itemIdDiv.textContent);

      let item;
      if ("{{ type }}" === "task") {
        item = tasksMap.get(itemId);
        if (item) item.remove_task();
      } else if ("{{ type }}" === "consequence") {
        console.log("test");
        item = concecensesMap.get(itemId);
        item.remove_consequence();
      }

      switch_to_main_window();
    });
  });
</script>

<!-- prettier-ignore -->
<div id="delete_{{ type }}_window" class="system-window delete_window">
  {% if show_back_btn %}
  <div class="back-btn" style="z-index: 100;" onclick="switch_to_main_window()"></div>
  {% endif %}

  <div id="{{ type }}_id" style="display: none;">{{ item_id }}</div>

  <div id="delete_{{ type }}_container" class="delete_container">
    <h1 id="delete_{{ type }}_task">
      You're about to delete <span id="delete_{{ type }}_name">{{ item }}</span>, are you sure?
    </h1>

    <div>
      <button class="system-button" id="decline_{{ type }}_button" onclick="switch_to_main_window()">
        Decline
      </button>
      <button class="system-button" id="confirm_{{ type }}_button">
        Confirm
      </button>
    </div>
  </div>
</div>
