<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>System Window</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
    <script>
      let currentXP = {{ user.xp | tojson }};
      let nextLevelXP = {{ user.xp_to_next_level | tojson }};
      let currentLevel = {{ user.level | tojson }};
      let current_coins  = {{ user.coins | tojson }};
    </script>

    <script
      src="{{ url_for('static', filename='script/main.js') }}"
      defer
    ></script>
  </head>
  <body>
    <audio
      id="openSound"
      src="{{ url_for('static', filename='sfx/system_open.mp3') }}"
      preload="auto"
    ></audio>

    <h1 id="activate_msg">Press to activate system</h1>

    <div id="system_container" class="popup-window">
      <div id="status_container">
        <h1 id="name">{{ user.name }}</h1>
        <div id="level_coin_container">
          <div id="level_container">
            <h1>{{ user.level }}</h1>
            <h2>Level</h2>
          </div>
          <div id="coin_container">
            <h1>{{ user.coins }}</h1>
            <h2>Coins</h2>
          </div>
        </div>
        <!-- Progress Bar -->
        <div id="progress_container">
          <div id="progress_bar"></div>
        </div>

        <div id="progress_texts">
          <span id="current_xp">{{ user.xp }}</span>
          <span id="xp_label">XP</span>
          <span id="xp_needed">{{ user.xp_to_next_level }}</span>
        </div>
      </div>

      <div id="tasks_container">
        {% for task in tasks %}
        <div class="task">
          <label class="task_label">
            <input
              type="checkbox"
              class="task_checkbox"
              {%
              if
              task.completed
              %}checked{%
              endif
              %}
            />
            <span class="task_text">{{ task.task_name }}</span>
            <div class="reward_container">
              <div class="coin_container">
                <img
                  class="coin_icon"
                  src="{{ url_for('static', filename='images/icons/coin.png') }}"
                />
                <h1>{{ task.coin_reward }}</h1>
              </div>
              <div class="xp_container">
                <img
                  class="coin_icon"
                  src="{{ url_for('static', filename='images/icons/coin.png') }}"
                />
                <h1>{{ task.xp_reward }}</h1>
              </div>
            </div>
          </label>
        </div>
        {% endfor %}
      </div>

      <!-- Add Task Button -->
      <button id="add_task_btn" onclick="show_add_task_window()">+</button>
    </div>

    <div class="task-pop-up">
      <ul>
        <li>Edit Task</li>
        <li>Delete Task</li>
      </ul>
    </div>

    <div id="add_task_window" class="popup-window">
      <form id="add_task_form">
        <label for="task_name">Task name</label>
        <input type="text" id="task_name" name="task_name" value="Task" />

        <label for="coin_reward">Coin reward</label>
        <input type="number" id="coin_reward" name="coin_reward" value="2" />

        <label for="xp_reward">XP reward</label>
        <input type="number" id="xp_reward" name="xp_reward" value="2" />

        <label for="start_time">Start time</label>
        <input type="time" id="start_time" name="start_time" />

        <label for="end_time">End time</label>
        <input type="time" id="end_time" name="end_time" />

        <fieldset>
          <legend>Repeat on (select days)</legend>
          <label
            ><input type="checkbox" name="repeat_days" value="monday" />
            Monday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="tuesday" />
            Tuesday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="wednesday" />
            Wednesday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="thursday" />
            Thursday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="friday" />
            Friday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="saturday" />
            Saturday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="sunday" />
            Sunday</label
          >
        </fieldset>

        <input type="submit" value="Submit" />
      </form>
    </div>

    <div id="edit_task_window" class="popup-window"></div>
    <div id="delete_task_window" class="popup-window">
      <div>
        <h1 id="delete_task_text">
          You're about to delete <span id="delete_task_name">{task}</span>, are
          you sure?
        </h1>
        <button id="decline_delete_button">Decline</button>
        <button id="confirm_delete_button">Confirm</button>
      </div>
    </div>
  </body>
</html>
