<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>System Window</title>
    {% include "head_includes.html" %}
  </head>
  <body>
    <audio
      id="openSound"
      src="{{ url_for('static', filename='sfx/system_open.mp3') }}"
      preload="auto"
    ></audio>

    <h1 id="activate_msg">Press to activate system</h1>

    <!-- prettier-ignore -->
    {% with window_id="add_user_window", form_id="add_user_form", input_name="user_name", input_label="User name", welcome_message="Welcome new User" %}{% include "add_window.html" %}{% endwith %}
    {% with window_id="add_task_window", form_id="add_task_form", input_name="task_name", input_label="Task name", show_back_btn=true, show_number_inputs=true, show_time_inputs=true, show_repeat_days=true, coin_reward=2, xp_reward=2, submit_text="Submit" %}{% include "add_window.html" %}{% endwith %}
    {% with window_id="edit_task_window", task_id =1, form_id="edit_task_form", input_name="task_name", input_label="Task name", show_back_btn=true, show_number_inputs=true, show_time_inputs=true, show_repeat_days=true, coin_reward=2, xp_reward=2, submit_text="Submit" %}{% include "edit_window.html" %}{% endwith %}
    {% with window_id="delete_task_window", type="task", item_id=1, item="Test Task", show_back_btn=true %}{% include "delete_window.html" %}{% endwith %}
    {% include "main_window.html" %}
    <!-- prettier-ignore -->
  </body>
</html>
