<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>System Window</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/base/base.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/base/responsive.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/animations/animations.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/components/progress_bar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/components/status.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/components/tasks.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/windows/add_tasks.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/windows/delete_task.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/components/form.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/components/buttons.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/windows/penelty_window.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/windows/add_user_window.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/components/actionItems.css') }}"
    />

    <script>
      let user_data = true;
      let currentXP = {{ (user.xp | default(0)) | tojson }};
      let nextLevelXP = {{ (user.xp_to_next_level | default(0)) | tojson }};
      let currentLevel = {{ (user.level | default(0)) | tojson }};
      let current_coins = {{ (user.coins | default(0)) | tojson }};
      let tasks = {{ (tasks | default([])) | tojson }};
      let user_name = {{ (user.name | default("none")) | tojson }};
    </script>

    <script
      type="module"
      src="{{ url_for('static', filename='script/system.js') }}"
      defer
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='script/windows/settings.js') }}"
      defer
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='script/windows/add_user_window.js') }}"
      defer
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='script/status.js') }}"
      defer
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='script/api.js') }}"
      defer
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='script/windows/add_task_window.js') }}"
      defer
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='script/tasks/domTasks.js') }}"
      defer
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='script/tasks/taskCheckboxes.js') }}"
      defer
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='script/tasks/taskPopups.js') }}"
      defer
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='script/tasks/taskRewards.js') }}"
      defer
    ></script>

    <script type="module">
      import { switch_window } from "{{ url_for('static', filename='script/system.js') }}";
      window.switch_window = switch_window;

      import { removeTask } from "{{ url_for('static', filename='script/api.js') }}";

      window.removeTask = removeTask;

      import { accept_punishment } from "{{ url_for('static', filename='script/tasks/punishment.js') }}";
      window.accept_punishment = accept_punishment;
    </script>
  </head>
  <body>
    <audio
      id="openSound"
      src="{{ url_for('static', filename='sfx/system_open.mp3') }}"
      preload="auto"
    ></audio>

    <h1 id="activate_msg">Press to activate system</h1>

    <div id="system_container" class="system-window">
      <div id="status_container">
        <div id="settings_icon">
          <img
            src="{{ url_for('static', filename='images/icons/settings.png') }}"
            alt="Settings"
          />
        </div>
        <h1 id="name"></h1>
        <div id="level_coin_container">
          <div id="level_container">
            <h1></h1>
            <h2>Level</h2>
          </div>
          <div id="coin_container">
            <h1></h1>
            <h2>Coins</h2>
          </div>
        </div>
        <!-- Progress Bar -->
        <div id="progress_container">
          <div id="progress_bar"></div>
        </div>

        <div id="progress_texts">
          <span id="current_xp"></span>
          <span id="xp_label">XP</span>
          <span id="xp_needed">20</span>
        </div>
      </div>

      <div id="tasks_container"></div>

      <!-- Add Task Button -->
      <button id="add_task_btn" onclick="switch_window('add_task_window')">
        +
      </button>
    </div>

    <div id="add_user_window" class="system-window">
      <div id="welcome_message_container">
        <h1 id="welcome_message">Welcome new User</h1>
      </div>

      <form class="system-from" id="add_user_form">
        <label for="user_name">User name</label>
        <input type="text" id="user_name" name="user_name" value="User" />
        <input type="submit" value="Submit" />
      </form>
    </div>

    <div id="settings_window" class="system-window">
      <div class="back-btn" onclick="switch_window('system_container')"></div>
      <form class="system-from" id="settings_form">
        <label>User Name</label>
        <input
          type="text"
          id="setting_user_name"
          name="setting_user_name"
          value=""
        />

        <input type="submit" value="Save Settings" />
      </form>
    </div>

    <div id="add_task_window" class="system-window">
      <div class="back-btn" onclick="switch_window('system_container')"></div>
      <form class="system-from" id="add_task_form">
        <label for="task_name">Task name</label>
        <input type="text" id="task_name" name="task_name" value="Task" />

        <label for="coin_reward">Coin reward</label>
        <input type="number" id="coin_reward" name="coin_reward" value="2" />

        <label for="xp_reward">XP reward</label>
        <input type="number" id="xp_reward" name="xp_reward" value="2" />

        <label for="start_time">Start time</label>
        <input type="time" id="start_time" name="start_time" />

        <label for="end_time">End time</label>
        <input type="time" id="end_time" name="end_time" />

        <fieldset>
          <legend>Repeat on (select days)</legend>
          <label
            ><input type="checkbox" name="repeat_days" value="monday" />
            Monday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="tuesday" />
            Tuesday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="wednesday" />
            Wednesday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="thursday" />
            Thursday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="friday" />
            Friday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="saturday" />
            Saturday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="sunday" />
            Sunday</label
          >
        </fieldset>

        <input type="submit" value="Submit" />
      </form>
    </div>

    <div id="edit_task_window" class="system-window">
      <div class="back-btn" onclick="switch_window('system_container')"></div>

      <form class="system-from" id="edit_task_form">
        <input id="task_id" name="task_id" type="hidden" />

        <label for="task_name">Task name</label>
        <input type="text" id="task_name" name="task_name" value="Task" />

        <label for="coin_reward">Coin reward</label>
        <input type="number" id="coin_reward" name="coin_reward" value="2" />

        <label for="xp_reward">XP reward</label>
        <input type="number" id="xp_reward" name="xp_reward" value="2" />

        <label for="start_time">Start time</label>
        <input type="time" id="start_time" name="start_time" />

        <label for="end_time">End time</label>
        <input type="time" id="end_time" name="end_time" />

        <fieldset>
          <legend>Repeat on (select days)</legend>
          <label
            ><input type="checkbox" name="repeat_days" value="monday" />
            Monday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="tuesday" />
            Tuesday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="wednesday" />
            Wednesday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="thursday" />
            Thursday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="friday" />
            Friday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="saturday" />
            Saturday</label
          >
          <label
            ><input type="checkbox" name="repeat_days" value="sunday" />
            Sunday</label
          >
        </fieldset>

        <input type="submit" value="Submit" />
      </form>
    </div>

    <div id="delete_task_window" class="system-window">
      <div id="delete-task-container">
        <div>
          <h1 id="delete_task_text">
            You're about to delete <span id="delete_task_name">{task}</span>,
            are you sure?
          </h1>
          <button
            class="system-button"
            id="decline_delete_button"
            onclick="switch_window('system_container')"
          >
            Decline
          </button>
          <button
            class="system-button"
            id="confirm_delete_button"
            onclick="removeTask()"
          >
            Confirm
          </button>
        </div>
      </div>
    </div>

    <div id="penelty_window" class="system-window">
      <div
        class="back-btn"
        style="position: absolute"
        onclick="switch_window('system_container')"
      ></div>

      <div id="accept_punishment_container">
        <h1>
          Because you failed to complete
          <span id="punishment_task">Task name</span>, You must
          <span id="punishment">Punisment name</span>
        </h1>
        <button class="system-button" id="accept_punishment_button">
          Accept punishment
        </button>
      </div>
    </div>

    <div class="task-pop-up">
      <ul>
        <li>Edit Task</li>
        <li>Delete Task</li>
      </ul>
    </div>
  </body>
</html>
