/* Base styles */
@import url("base/base.css");
@import url("base/responsive.css");

/* Animations */
@import url("animations/animations.css");

/* Windows */
@import url("windows/delete_window.css");

/* Components */
@import url("components/buttons.css");
@import url("components/form.css");
@import url("components/progress_bar.css");
@import url("components/selection_list.css");
@import url("components/status.css");
@import url("components/tasks.css");
@import url("components/PopUp.css");
